/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.container h1 {
    float: left;
}

.container ul {
    float: right;
    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}
main{
    clear: both;
}

.overview-hero .container{
    display: flex;
    flex-direction: row;
}

.learn-about .container .cards{
    display: grid;
    grid-template-columns: 100px 150px 200px;
}


footer {
    clear: both;
}
