/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.container h1 {
    float: left;
}

.container ul {
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}
main{
    clear: both;
}

.overview-hero{
    background-color: rgb(188, 188, 188);
    padding: 50px;
}
.overview-hero .container{
    display: flex;
    flex-direction: row;
}

.learn-about{
    padding: 10px;
}
.learn-about .container .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}
.card{
    display: grid;
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 3px 4px rgba(0,0,0, 0.3);
}

.testing{
    background-color: rgb(80,84,100);
    color: #fff;
    padding: 75px;
}
.testing .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.cta{
    margin: auto;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5%;
    color: #fff;
    background-color: green;
}

.stories{
    clear: both;
}
.stories .container article{
    display: grid;
    padding-bottom: 50px;
}
.stories .container img{
    border-radius: 50%;
    grid-column: 1;
    margin-top: 10px;
}
.stories .container .article-body{
    grid-column: 2;
    padding-left: 50px;
}

.newsletter{
    padding: 60px;
    color: #fff;
    background-color: rgb(80,188,124);
}
.newsletter .container{
    text-align: center;
    padding: 25px;
}
.newsletter .container form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newsletter .container .form-group{
    padding-right: 5px;
}

footer {
    clear: both;
}